.cont-anuncio {
  width: 900px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.box1,
.box2,
.box3 {
  border: 3px solid black;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}

.box1 {
  padding: 0;
  height: auto;
  width: 895px;
  min-height: 300px;
  max-height: 400px;
  min-width: 895px;
  max-width: 895px;
  margin-bottom: 0; /* Eliminar el margen inferior de box1 */
  align-items: center;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  overflow: hidden;
}

.box2 {
  margin-top: -3px;
}

.box2-text,
.box3-text {
  text-align: left;
}

.box2-text {
  line-height: 1.5;
}

.box3 {
  height: 150px;
  margin-top: 50px;
}
.proyectSelectedImage {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}
.subirImagenDeProyecto {
  cursor: pointer;
}
.cont-anuncio .texto-input input {
  margin-top: 15px;
  text-align: start;
  width: 350px;
}
.inputPago {
  text-align: start;
  height: 10px;
    padding: 5px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-color: transparent;
}
.texto-input-pago {
  display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}
.texto-input-pago::before {
  content: '$/h';
  position: absolute;
  left: 280px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 22px;
}
.descripcionSolicitarServicios {
  text-align: start;
  height: max-content;
    padding: 5px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-color: transparent;
    position: relative;
}
.box3 .texto-input textarea {
  width: 600px;
  height: 100px;
  font-family: "Montserrat", sans-serif;
}
.box3 .texto-input select {
  height: 25px;
  margin-top: 15px;
  color: white;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
}
.cont-anuncio .nuevo-proyecto{
  margin-left: 370px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  height: 50px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
