.sidebar {
    display: flex;
    flex-direction: column;
    background-color: 	#EFEDED;
    height: 100vh;
    width: max-content;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    z-index: 1;
}
.listaSidebar {
    list-style: none;
    margin-top: 55%;
}
.listaSidebar li {
    padding: 5px;
    width: max-content;
    border-radius: 10px;
    margin-bottom: 40px;
}
.listaSidebar li:hover {
    background-color: #b5b2b2;
    cursor: pointer;
}

.special-item {
    background-color: #00FFBE;
    color: black;
    text-align: center;
    border-radius: 30px; /* Botón redondeado */
    padding: 10px 20px; /* Ajustar padding para el botón */
    font-weight: bold;
}

.selected {
    background-color: #A9A9A9;
}
@media (max-width: 540px) {
    .sidebar {
        height: 100vh;
        width: 100%;
        font-size: 30px;
    }
    .listaSidebar {
        list-style: circle;
        margin-top: 30vh;
        margin-left: 60px;
    }
   
}
@media (max-width: 454px) {
    .listaSidebar {
        margin-left: 0px;
    }
}
@media (max-width: 394px) {
 .sidebar {
    font-size: 20px;
}
}


