.divLoginGeneral {
    width: 55%;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
   border-radius: 15px;
}
.loginIzquierda {
    font-family: "Montserrat", sans-serif;
    background-image: url('assets/imagenDiseño.png');
    background-size: cover; 
    background-repeat: no-repeat;
    width: 50%;
    border: 1px solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
}
.loginIzquierda h1 {
    font-size: 15px;
    padding-left: 5%;
}
.loginDerecha {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50%;
    border: 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: "Montserrat", sans-serif;
}
.loginIzquierda ul {
    padding-left: 20%;
}
#liSinCursor {
    list-style-type: none;
    font-size: 20px;
}
.google-correo {
    cursor: pointer;
    border: 1 px solid #e4e5e7;;
    border-radius: 5px;
    color: #222325;;
    background-color: white;
    justify-content: center;
    width: auto;
    height: max-content;
    font-size: larger;
    margin-top: 12px;
}
.terminos {
    font-size: auto;
    padding: 30px;
}
