.bg-gray-100 {
  background-color: #f7fafc;

}

.container-footer {
  max-width: 1280px;
  padding: 64px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.highlight{
  color: #00ffbe;
}


.footer-links {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas si no caben */
  justify-content: center;
  margin-bottom: 20px;
}

.footer-title {
  color: black;
  font-weight: bold;
  margin-bottom: 16px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  gap: 40px; /* Espaciado entre los grupos de links */
 
}

.footer-links li {
  margin-bottom: 16px;
}

.footer-links a {
  color: #718096;
  text-decoration: none;
}

.footer-links a:hover {
  color: #2c7a7b;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top:10px;
  padding-top: 32px;
  /* border-top: 1px solid #e2e8f0; */
}

.footer-text {
  color: #a0aec0;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap:40px;
  font-size: 26px;
  margin-top: 1px;
}

.footer-social li {
  margin: 0 12px;
}

.footer-social a {
  color: #38b2ac;
  text-decoration: none;
}

.footer-social a:hover {
  color: #2c7a7b;
}
