.divLoginGeneral {
    width: 55%;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
}

.loginIzquierda {
    background-color: black;
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}

.textoFinal{
    font-size: 50px;
}

.textoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los bloques de texto */
}

.textoArriba h1 {
    font-size: 30px; /* Tamaño aumentado para la primera frase */
    margin: 0; /* Elimina márgenes por defecto */
    
}

.textoIzquierda {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.textoIzquierda ul {
    padding-left: 0;
    list-style-type: none; /* Elimina puntos de la lista */
}

.textoIzquierda ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

#liSinCursor {
    font-size: 20px; /* Tamaño aumentado para la última frase */
    cursor: default; /* Asegura que el cursor no cambie sobre este elemento */
}

.google-correo {
    cursor: pointer;
    border: 1px solid #e4e5e7;
    border-radius: 5px;
    color: #222325;
    background-color: white;
    justify-content: center;
    width: auto;
    height: max-content;
    font-size: larger;
    margin-top: 12px;
    margin-bottom: 70px;
}

.terminos {
    font-size: auto;
    padding: 30px;
}

.loginParaMovil {
    display: none;
    font-family: "Montserrat", sans-serif;
}

.loginDerecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
}

.formularioLogin input {
    border-radius: 11px;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
}


.otraOpcion p {
    padding-top: 20px;
}

.formularioLogin button {
    border-radius: 11px;
    font-family: "Montserrat", sans-serif;
    background-color: #00FFBE;
    color: white;
    font-weight: bold;
    height: 30px;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}

.textoEnlace2{
    color: red;
}

.google-correo {
    cursor: pointer;
    border: 1px solid #e4e5e7;
    border-radius: 5px;
    color: #222325;
    background-color: white;
    justify-content: center;
    width: auto;
    height: max-content;
    font-size: larger;
    margin-top: 52px;
}

.terminos {
    font-size: auto;
    padding: 30px;
}

.loginParaMovil {
    display: none;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1656px) {
    #liSinCursor {
        font-size: 12px;
    }
    .textoIzquierda ul li {
        font-size: smaller;
    }
    .loginIzquierda {
        font-size: 16px;
    }
    .textoArriba h2 {
        font-size: 13px;
    }
    .loginIzquierda h2 svg {
        width: min-content;
        height: min-content;
    }
    .divLoginGeneral {
        width: 65%;
        margin: auto;
        margin-top: 100px;
    }
}

@media (max-width: 1252px) {
    #liSinCursor {
        font-size: 15px;
    }
    .loginIzquierda h2 svg {
        width: 17px;
        height: 17px;
    }
    .loginIzquierda {
        font-size: 15px;
    }
    .textoArriba h2 {
        font-size: 17px;
    }
    .terminos {
        font-size: 16px;
    }
    .divLoginGeneral {
        width: 75%;
        margin: auto;
        margin-top: 100px;
    }
}

@media (max-width: 1011px) {
    .divLoginGeneral {
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .textoArriba h2 {
        font-size: 14px;
    }
    .loginIzquierda {
        font-size: 16px;
    }
    .terminos {
        font-size: 14px;
    }
}

@media (max-width: 881px) {
    .divLoginGeneral {
        width: 100%;
        margin-top: 100px;
    }
}

@media (max-width: 664px) {
    .loginIzquierda {
        display: none;
    }
    .loginDerecha {
        display: none;
    }
    .loginParaMovil {
        display: block;
    }
    .divLoginGeneral {
        height: max-content;
        width: 90%;
        margin-top: 0;
        border-radius: 10px;
        border: 1px solid;
    }
    .divMovil1 {
        background-color: #00a03d9f;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .divMovil1 ul li {
        font-size: 20px;
    }
    .divMovil2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        font-size: 20px;
    }
    .google-correo {
        font-size: 24px;
    }
    .terminos {
        background-color: #00a03d9f;
    }
}

@media (max-width: 550px) {
    .divLoginGeneral {
        width: 100%;
        height: max-content;
    }
    .divMovil2 h2 {
        font-size: 20px;
    }
    .divMovil2 p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .divMovil2 p {
        font-size: 14px;
    }
    .google-correo {
        font-size: 20px;
    }
}

@media (min-height: 1000px) {
    .divLoginGeneral {
        height: 870px;
    }
    .textoArriba h2 {
        font-size: 20px;
    }
    .textoIzquierda ul li {
        font-size: 17px;
    }
    #liSinCursor {
        font-size: 17px;
    }
}

@media (min-height: 1300px) {
    .divLoginGeneral {
        height: 1150px;
        width: 100%;
    }
    .textoArriba h2 {
        font-size: 30px;
    }
    .textoIzquierda ul li {
        font-size: 24px;
    }
    #liSinCursor {
        font-size: 24px;
    }
    .loginIzquierda {
        width: 65%;
    }
    .loginIzquierda h2 svg {
        width: 30px;
        height: 30px;
    }
    .loginDerecha p {
        font-size: 20px;
    }
    .google-correo {
        font-size: 26px;
    }
    .google-correo svg {
        width: 20px;
        height: 20px;
    }
}
