html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: left;
  box-sizing: border-box;
  padding: 30px 20px; /* Asegura que el contenido no se superponga con la navbar */
  margin-top: 40px; /* Ajusta este valor para asegurar que no se superponga con la navbar */
  overflow: hidden; /* Oculta la barra de desplazamiento */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.highlight {
  color: #00ffbe;
  font-weight: 800;
}

.frase-categoria{
  font-size: 35px;
  margin-bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}


.buscador {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 33%;
  margin-top: 230px;
  margin-bottom: 100px;
  
  
}

.buscador input {
  padding: 8px;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  max-width: 400px; /* Ancho máximo para pantallas grandes */
  margin-right:  10px; /* Espacio entre el input y el botón */
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 120px;
  
}

/* Boton Buscar*/
.buscador button {
  background-color: #00ffbe;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categorias button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 80px;
  width: 200px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
main {
  flex: 1;
}
.content {
  flex: 1;
}
footer {
  width: 100vw;
  height: 20vh;
  background-color: #00ffbe;
}

.container-text {
  font-size: 48px;
  margin-bottom: 20px;
  /* overflow: hidden; */
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  height: 250px;
  text-align: left;
  font-weight: 500;
  white-space: nowrap; /* Asegura que el texto no se rompa en múltiples líneas */
}

.textcategorias  {
  font-size: 25px;
  font-weight: 500;
  }

.container-text span {
  display: inline-block;
  animation: scrollUp 3s linear forwards; /* Esto asegura que la animación se ejecute durante 5 segundos y luego se detenga en el estado final. */
}


@keyframes scrollUp {
  0% {
    transform: translateY(300%); /* Comienza desde abajo */
  }
  100% {
    transform: translateY(0); /* Se detiene en la posición inicial */
  }
}


/*  <--------------------- RESPONSIVE ----------------->*/

@media (max-width: 728px) {
  .container-text {
    font-size: 30px;
  }

  .buscador input {
    width: 80%; /* Aumenta el ancho en dispositivos pequeños */
  }

  .buscador button {
    font-size: 14px;
  }

  .categorias button {
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .container-text {
    font-size: 28px;
  }

  .buscador {
    flex-direction: column;
    align-items: stretch;
  }

  .buscador input {
    width: 100%;
    margin-bottom: 10px;
  }

  .buscador button {
    margin-left: 0;
    width: 100%;
  }


  .categorias button {
    width: 120px;
    height: 50px;
  }
}
