.divLoginGeneral {
    width: 55%;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
   border-radius: 15px;
}
.loginIzquierda {
    font-family: "Montserrat", sans-serif;
    background-image: url('assets/imagenDiseño.png');
    background-size: cover; 
    background-repeat: no-repeat;
    width: 50%;
    border: 1px solid;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
}
.loginIzquierda h1 {
    font-size: 15px;
    padding-left: 5%;
}
.loginDerecha {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50%;
    border: 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: "Montserrat", sans-serif;
}
.loginIzquierda ul {
    padding-left: 20%;
}
#liSinCursor {
    list-style-type: none;
    font-size: 20px;
}
.google-correo {
    cursor: pointer;
    border: 1 px solid #e4e5e7;;
    border-radius: 5px;
    color: #222325;;
    background-color: white;
    justify-content: center;
    width: auto;
    height: max-content;
    font-size: larger;
    margin-top: 12px;
}
.terminos {
    font-size: auto;
    padding: 30px;
}



html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  
  /* Estilos NAVBAR  */

  .navbar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo a {
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
  }

  .navbar-button button {
    background-color:#00FFBE;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }


.navbar-button button:hover {
    background-color:#0b9270;
  }


    /* Estilos CONTENEDOR  */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
  }
  
  
  .highlight {
    color: #00FFBE;
  }
  
  /* Sección de búsqueda */
  .buscador{
    margin: 20px 0;
  }
  
  /* Estilos de entrada de búsqueda */
  .buscador input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  
  /* Estilos del botón de búsqueda */
  .buscador button {
    padding: 10px 20px;
    background-color:#00FFBE;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  /* Botones de categorías */
  .categorias button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 80px;
    width: 200px;
  }
  
  /* Footer con margen superior */
  footer {
    width: 100vw;
    height: 20vh;
    /* margin-top: 30px; */
    background-color: #00FFBE;
  }
  
  .container-text {
  
  font-size:40px ;
  
  }

